
<aside id="sidebar-wrapper">
  <div class="sidebar-brand">
    <h2>Heylink. <i class="bi bi-list ml-4" (click)="sideClick()"></i></h2>
  </div>
  <ul class="sidebar-nav">
    <li class="active">
      <a href="#"><i class="bi bi-bag mr-2"></i> Get Started</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-book mr-2"></i> Overview</a>
    </li>
    <li class="nav-item dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-box mr-2"></i> Insights</a>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
      </div>
    </li>
    <li>
      <a href="#"><i class="bi bi-calendar-week mr-2"></i> Advertisers</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-camera mr-2"></i> Discover</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-tools mr-2"></i> Tools</a>
    </li>
  </ul>
</aside>